@using System.Threading
@inject HttpClient Http

<h1>Consulta @(Tipo == TipoConsulta.Contagios ? "Contagios" : "Muertes")</h1>

<div>
	<p>Ingrese la edad o rango de edades (formato edad-edad, ejemplos: 10-50 30-40 15-25)</p>
	<input type="text" @bind-value="Edades" />
</div>
<hr>
<div>
	<p>Indique sexo</p>
	<input type="checkbox" @bind="M" />M
	<input type="checkbox" @bind="F" />F
</div>
<hr>
<div>
	<p>Indique fechas (dejar como está si no quiere especificar ningún límite de fechas)</p>
	<p>Desde</p>
	<input type="date" @bind="Desde" />
	<br />
	<p>Hasta</p>
	<input type="date" @bind="Hasta" />
</div>
<hr>
<div>
	<p>Indique provincia</p>
	<input type="text" placeholder="Respete tildes" @bind="Provincia" />
</div>
<br />
<br />
<h1>@(Tipo == TipoConsulta.Contagios ? "Contagiados" : "Muertos"): @Casos</h1>

<button @onclick="ConsultarDatos">Consultar</button>
